// Anchos | Altos
$page-width: 650px;
$cart-width: 380px;
// Colores
$color-primary: #0067F1;
$color-blanco: #FFFFFF;
$color-negro: #000000;
$color-gris: #E8EBF0;

// Text Fonts
$text-font-regular: "roboto-regular";
$text-font-medium: "roboto-medium";
$text-font-bold: "roboto-bold";
