// Anchos | Altos
$page-width: 650px;
$cart-width: 280px;
// Colores
$color-blanco: #f0f0f0;
$color-negro: #161616;
$color-gris: #c4c4c4;
$color-azul-oscuro-uno: #142f44;
$color-azul-oscuro-dos: #024379;
$color-rojo-oscuro-uno: #631e19;
