#_gt-header {
	@include box-shadow;
	min-height: 250px;
	width: 100%;
	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	background-color: $color-primary;

	& summary {
		text: {
			align: center;
			transform: uppercase;
		}

		& h1 {
			color: $color-blanco;
			display: block;
			padding: 5px;
			line-height: 1em;
			letter-spacing: .12em;
			font: {
				size: 2.8em;
				weight: bold;
				family: $text-font-headers;
			}
		}
	}
}